# =========================================================
# dbt – credentials & user-specific files
# =========================================================
profiles.yml
.user.yml

# Python virtual environment
dbt-env/
venv/
.env/
airflow-env/

# dbt artifacts
target/
logs/
dbt_packages/

# OS junk
__pycache__/
*.pyc
.DS_Store
